html {
    scroll-behavior: smooth;
}

a {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    /* Дополнительные свойства, если необходимо */
}


body {
    margin: 0;
    padding: 0;

    font-family: 'Inter';
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 69px;
    background-color: #282828;
    z-index: 2;
}


.logo a {
    text-align: center;
    line-height: 118.02%;
    letter-spacing: 0.375em;
    padding-left: 38px;
    margin-left: 50%;

    color: #fff;
    font-style: normal;
    text-decoration: none;
    transition-duration: 0.3s;
    font-weight: 400;
    font-size: 24px;
}

.logo a:hover,
.logo a:focus {
    color: gray;
}

nav ul {
    display: flex;
    list-style: none;
    padding-right: 37px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin-right: 60px;
    border-bottom: 2px solid transparent;

    transform: translate(-50%, -50%) scale(0);
    transition: 1s ease-in-out;
    transition-duration: 0.3s;
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

nav ul li a:hover {
    color: #ffb700;
    border-bottom-color: #5f5f5f;

}

/* modal window */

.modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.363);
    height: 100vh;

    opacity: 0;
}

.modal_content {
    position: relative;
    background-color: #383838;
    margin: 8% auto;
    color: #ffffff;
    padding: 30px;
    border: 2px solid #e9c600;
    width: 30em;
    border-radius: 20px;
}
@media screen and (max-width: 1400px) {
    .modal_content {
        width: 25em;
        margin: 4% auto;
    }
  }

.modal_open {
    opacity: 1;
}



.closeModal {
    color: #a1a1a1;
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 30px;
    font-weight: normal;
    cursor: pointer;

    transition-duration: 0.3s;

}
.closeModal:hover,
.closeModal:focus {
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* form */

.modal_content h3 {
    font-family: 'Play', sans-serif;
    font-size: 32px;
}

form {
    margin-top: 10px;
    text-align: center;
    font-family: 'Play', sans-serif;
    margin-top: 10%;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  input[type="text"],
  textarea {
    font-family: 'Play', sans-serif;;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    position: relative;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 46px;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0.09);
    border: 3px solid #ffb700;
    padding: 5px 20px;
    margin-top: 12vh;
    transition-duration: 0.5s;
    display: block;
    margin: 0 auto;
    margin-top: 5em;
    border-radius: 0px;
  }
  
  button[type="submit"]:hover {
    color: #ffb700;
    border-radius: 30px;
    border: 3px solid #0ee681;
    cursor: pointer;
  }


#notes {
width: 70%;
  height: 100px; /* Высота поля ввода */
  padding: 20px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: left; /* Выравнивание текста слева */
  vertical-align: text-top; /* Выравнивание текста по верху */
}

#feedbackForm label {
    margin-top: 25px;
}

/* hero */

.hero {

    background-image: url("../images/theme1.jpg");
    /* Замените на ссылку на ваше изображение фона */
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hero_content {
    text-align: center;
    margin-bottom: 8vh;
}

.hero_content h1 {
    position: relative;

    font-family: 'Petit Formal Script';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 120px;
    text-align: center;
    letter-spacing: 0.005em;

    color: #FFFFFF;
}

.hero_content h2 {
    position: relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.37) 39.31%, rgba(0, 0, 0, 0) 100%);
    border-radius: 23px;
    letter-spacing: 0.009em;
}

.hero_content h2 {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.009em;
    color: rgba(255, 255, 255, 0.93);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.37) 39.31%, rgba(0, 0, 0, 0) 100%);
    border-radius: 23px;
}

.contact_button {
    position: relative;

    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    padding-top: 20px;

    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;

    color: #FFFFFF;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0.09);
    border: 6px solid #ffb700;
    padding: 20px 60px;
    margin-top: 12vh;

    transition-duration: 0.5s;
}

.contact_button:hover,
.contact_button:focus {
    cursor: pointer;
    border: 6px solid #0ee681;
    background-color: #0000008e;
    color: #ffb700;
    border-radius: 40px;
}

/* main start */

.frame2 {
    padding-bottom: 80px;
    background-image: linear-gradient(267.79deg, rgba(0, 0, 0, 0.288) 36.52%, rgba(0, 0, 0, 0.349) 128.63%), linear-gradient(267.79deg, rgb(42, 69, 118) 36.52%, rgb(103, 31, 31) 128.63%);
    padding-bottom: 142px;
}

.frame2-title {
    padding-top: 80px;
    font-size: 64px;
    font-weight: 400;
    font-family: 'Petit Formal Script', cursive;
    text-align: center;
    color: #FFFFFF;

}

.main {
    padding-top: 52px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.title-main {
    padding-top: 32px;
    font-weight: 400;
    font-size: 50px;
    font-family: 'Play', sans-serif;
    color: #FFFFFF;
}

.desk-main {
    padding-top: 18px;
    font-weight: 300;
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    line-height: 33.57px;
    color: #FFFFFF;
    letter-spacing: 0.5%;
}

.all-main {
    max-width: 450px;
    margin-left: 80px;
    margin-right: 50px;
}

.all-main-2 {
    max-width: 485px;
    margin-left: 65px;
    margin-right: 50px;
}

.all-main-3 {
    max-width: 490px;
    margin-left: 50px;
    margin-right: 50px;
}

.all-main-4 {
    max-width: 1000px;
    margin-left: 50px;
    margin-right: 50px;

}

